body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif ;
}

h1{
  margin-top: 0%;
  font-family: 'Sacramento', cursive !important;
  font-size: 5.625em;  
}

h2 {
  font-family: 'Montserrat', sans-serif;
}
.top-container
{
 
  background-color: powderblue;
  position: relative;
  padding-top: 100px;
}

.bud {
  text-decoration:underline;
}

.cloud1
{
  position:absolute;
  right: 300px;
  top:50px;
}
.cloud2 {
  position:absolute;
  left: 300px;
  bottom:300px;
}

.middle-container
{
  padding-top: 150px;
  background-color: powderblue;
}

.profile {
  height: 200px;
  width: 200px;
}

.bottom-container
{
   background-color: cadetblue;
}
